section#about-us.span9.middle-section
  h1 About Us
  p
    | hackPHX is a hackathon organization focused on bringing together amazing
    | talent of hardware and software engineers, designers and entrepreneurs in
    | the Valley for competitive fun and games.
  p
    | This organization’s goal is to bring together people of all ages within the
    | community that are excited about hardware and/or software and want to get
    | connected with others for a competitive outlet to show off their talents.
    | Our target audience isn’t just college students, we’re interested in bringing
    | together professionals and hobbyists as well.
