<section class="span9 email-signup">
            <h1>Interested in a hardware hackathon?</h1>
            <div class="signup-container">
              <h2>Sign up for updates!</h2>
              <input type="text" class="first-name span2" placeholder="First Name" />
              <input type="text" class="last-name span2" placeholder="Last Name" />
              <input type="text" class="email span3" placeholder="Email" />
              <a class="email-subscribe btn btn-large btn-primary span2">Subscribe!</a>
              <div class="response"></div>
              <div class="loading hide">
                <div id="circular3dG">
                  <div id="circular3d_1G" class="circular3dG"></div>
                  <div id="circular3d_2G" class="circular3dG"></div>
                  <div id="circular3d_3G" class="circular3dG"></div>
                  <div id="circular3d_4G" class="circular3dG"></div>
                  <div id="circular3d_5G" class="circular3dG"></div>
                  <div id="circular3d_6G" class="circular3dG"></div>
                  <div id="circular3d_7G" class="circular3dG"></div>
                  <div id="circular3d_8G" class="circular3dG"></div>
                </div>
              </div>
            </div>
          </section>
