section.span9.email-signup
  h1 Tickets Are Limited! Signup For Early Invite!
  .signup-container
    //- .control-group
    .controls.controls-row
      input.first-name.span3(type="text", placeholder="First Name")
      input.last-name.span3(type="text", placeholder="Last Name")
      input.email.span3(type="text", placeholder="Email")
    .controls.controls-row
      .response.span6
      a.email-subscribe.btn.btn-large.btn-primary.pull-right Subscribe!
    .loading.hide
      #circular3dG
        #circular3d_1G.circular3dG
        #circular3d_2G.circular3dG
        #circular3d_3G.circular3dG
        #circular3d_4G.circular3dG
        #circular3d_5G.circular3dG
        #circular3d_6G.circular3dG
        #circular3d_7G.circular3dG
        #circular3d_8G.circular3dG
