extend layout

block content
  .container
    .row
      //- include awesomebar
      include sponsors
      if data.signup
        include signup
      else
        include email
      if data.aboutUs
        include aboutus
      include faq
    include team
  script(src="/dist/js/hackPHX.min.js")
