extend layout

block content
  .container
    .row
      include awesomebar
      include sponsors
      include actioncall
      include aboutus
      include faq
    include team
  script(src="/dist/js/hackPHX.min.js")
