nav.navbar.navbar-fixed-bottom
  .navbar-inner
    .container
      ul.nav
        li
          a(href="#about-us")
            i.icon-info-sign
            span.mobile-hide About
        li
          a(href="#faq")
            i.icon-question-sign
            span.mobile-hide FAQ
        li
          a(href="#{data.signupUrl}")
            i.icon-calendar
            span.mobile-hide Events
        li
          a(href="https://www.facebook.com/HackPHX")
            i.icon-facebook-sign
            span.mobile-hide Facebook
        li
          a(href="https://twitter.com/hackphx")
            i.icon-twitter
            span.mobile-hide Twitter
        li
          a(href="https://github.com/hackPHX")
            i.icon-github
            span.mobile-hide Github
        li
          a(href="#team")
            i.icon-group
            span.mobile-hide Team
        li
          a(href="#sponsors")
            i.icon-gift
            span.mobile-hide Sponsors
